$bodyColor: #EAEAEA;
$logoColor: #101010;
$whiteColor: #ffffff;
$titlePage: #838383;
$textColor: #1C1C27;
$activeText: #FFA542;
$hoverText: #FFA542;
$blackColor: #000000;
$buttonBasket: #FFCE7F;
$deleteColor: #DF6464;