.footer {
    .footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 33px 29px;
        border-radius: 30px 30px 0px 0px;
        background-color: $whiteColor;

        .logo {
            @include _font(700, 25px, 30px, $logoColor)
        }

        .footer__items {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item__link {
                text-decoration: none;
                transition: color .3s ease-in-out;
                @include _font(400, 17px, 21px, $blackColor);

                &:hover {
                    color: $hoverText;
                }

                &:focus-within {
                    color: $hoverText;
                }
            }
        }

        .footer__rules {
            display: flex;
            flex-direction: column;
            gap: 35px;

            .footer__link-rules {
                text-decoration: none;
                transition: color .3s ease-in-out;
                @include _font(400, 17px, 21px, $blackColor);

                &:hover {
                    color: $hoverText;
                }

                &:focus-within {
                    color: $hoverText;
                }
            }

            .rules__language {
                display: flex;
                flex-direction: row;
                gap: 17px;

                .language__choose {
                    display: flex;
                    flex-flow: row wrap;
                    gap: 17px;
                }

                .active {
                    color: $activeText;
                }
            }
        }

        .footer__social {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .footer__link {
                &:not(:last-child) {
                    margin-right: 20px;
                }

                svg {
                    height: 35px;
                    width: 35px;
                    color: $logoColor;
                    transition: color .3s ease-in-out;
                }
            }

            .social__vk {
                svg {
                    &:hover {
                        color: #4680C2;
                    }

                    &:focus-within {
                        color: #4680C2;
                    }
                }
            }

            .social__tg {
                svg {
                    &:hover {
                        color: #477ecc;
                    }

                    &:focus-within {
                        color: #477ecc;
                    }
                }
            }

            .social__wa {
                svg {
                    &:hover {
                        color: #40C351;
                    }
                    &:focus-within {
                        color: #40C351;
                    }
                }
            }
        }
    }
}