@import './common/common.scss';
@import './components/components.scss';

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: $bodyColor;
    height: 100vh;

    #root {
        height: 100%;
    }
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    
    .main {
        flex: 1 0 auto;
    }
    
    .footer {
        flex: 0 0 auto;
    }
}
